
/* Fullscreen modal CodeMirror overrides */
#modal-codemirror-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
  border-radius: 12px;
}

#modal-codemirror-wrapper .CodeMirror {
  flex: 1;
  height: auto;
  min-height: 0;
  border-radius: 12px;
}
